Group By and Aggregating

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/sherzod19/Downloads/Flavors.csv')
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [9]:
df.groupby('Base Flavor')['Flavor Rating'].mean()

Base Flavor
Chocolate    8.4
Vanilla      5.7
Name: Flavor Rating, dtype: float64

In [10]:
group_by_frame = df.groupby('Base Flavor')

In [12]:
group_by_frame.mean(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [19]:
group_by_frame.count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [20]:
group_by_frame.min()

                  Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate      Chocolate   Yes            8.2             7.0          15.2
Vanilla      Cake Batter    No            2.3             3.4           5.7

In [23]:
group_by_frame.sum(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate             25.2            21.7          47.1
Vanilla               34.2            33.9          68.1

In [26]:
df.groupby('Base Flavor').agg({'Flavor Rating': ['mean', 'max', 'count'], 
                               'Texture Rating':['mean', 'max', 'count'] })

            Flavor Rating             Texture Rating
                     mean   max count           mean  max count
Base Flavor
Chocolate             8.4   8.8     3       7.233333  7.6     3
Vanilla               5.7  10.0     6       5.650000  8.0     6

In [29]:
df.groupby(['Base Flavor', 'Liked']).mean(numeric_only=True)

                   Flavor Rating  Texture Rating  Total Rating
Base Flavor Liked
Chocolate   Yes              8.4        7.233333     15.700000
Vanilla     No               3.6        4.466667      8.066667
            Yes              7.8        6.833333     14.633333

In [30]:
df.groupby(['Base Flavor', 'Liked']).agg({'Flavor Rating': ['mean', 'max', 'count'], 
                               'Texture Rating':['mean', 'max', 'count']})

                  Flavor Rating             Texture Rating
                           mean   max count           mean  max count
Base Flavor Liked
Chocolate   Yes             8.4   8.8     3       7.233333  7.6     3
Vanilla     No              3.6   4.7     3       4.466667  5.0     3
            Yes             7.8  10.0     3       6.833333  8.0     3

In [36]:
group_by_frame.last()

,Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
Base Flavor,,,,,
Chocolate,Chocolte Fudge Brownie,Yes,8.2,7.1,15.3
Vanilla,Neapolitan,No,3.8,5.0,8.8

In [35]:
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [38]:
df.groupby(["Base Flavor", "Liked"]).size().unstack()

Liked         No  Yes
Base Flavor
Chocolate    NaN  3.0
Vanilla      3.0  3.0

In [41]:
df.groupby('Flavor')['Total Rating'].mean().sort_values(ascending=False)

Flavor
Mint Chocolate Chip       18.0
Chocolate                 16.6
Chocolte Fudge Brownie    15.3
Rocky Road                15.2
Cookie Dough              13.4
Cake Batter               12.5
Vanilla                    9.7
Neapolitan                 8.8
Pistachio                  5.7
Name: Total Rating, dtype: float64

In [43]:
df.groupby('Liked')[["Flavor Rating", "Texture Rating", "Total Rating"]].agg(['mean', 'std'])

      Flavor Rating           Texture Rating           Total Rating
               mean       std           mean       std         mean       std
Liked
No              3.6  1.212436       4.466667  0.923760     8.066667  2.098412
Yes             8.1  1.274363       7.033333  0.722957    15.166667  2.016598

In [44]:
df.groupby('Base Flavor')['Flavor'].nunique()

Base Flavor
Chocolate    3
Vanilla      6
Name: Flavor, dtype: int64

In [45]:
df.groupby('Base Flavor')['Flavor Rating'].agg(lambda x: x.max() - x.min())

Base Flavor
Chocolate    0.6
Vanilla      7.7
Name: Flavor Rating, dtype: float64

In [51]:
df.groupby('Base Flavor')['Flavor Rating'].agg(lambda x: sorted(x, reverse=True)[1])

Base Flavor
Chocolate    8.2
Vanilla      6.9
Name: Flavor Rating, dtype: float64

In [55]:
df.groupby('Base Flavor')['Liked'].agg(lambda x: x.mode().iloc[0])

Base Flavor
Chocolate    Yes
Vanilla       No
Name: Liked, dtype: object